<nav role="navigation" class="w-nav-menu">
  <a (click)="onClickPlanesButton()" class="nav-link w-nav-link">Planes</a>
  <a (click)="onClickPlanesNearMeButton()" class="nav-link w-nav-link">Planes Near Me</a>
  <a (click)="onClickWriteButton()" class="nav-link w-nav-link">Write</a>
  <a (click)="onClickGalleryButton()" class="nav-link w-nav-link">Gallery</a>
  <a (click)="onClickMyPageButton()" class="nav-link w-nav-link">My Page</a>
  <a (click)="onClickSignOutButton()" class="nav-link w-nav-link">Sign Out</a>
</nav>
