<router-outlet></router-outlet>

<!--passwordforgot>
    <div class="section-15">
    <div class="w-container">
      <div>
        <h1 class="heading-7">Lost your plane?</h1>
        <div class="form-block-2 w-form">
          <form id="email-form" name="email-form" data-name="Email Form"><label for="Nickname-Field" class="label-index-sign-in">Nickname</label><textarea id="Nickname-Field" name="Nickname-Field" placeholder="Enter your nickname" maxlength="5000" data-name="Nickname Field" class="textarea-3 w-input"></textarea><label for="PasswordReset-Email" class="label-index-sign-in">Email</label><textarea id="Email-Field-2" name="Email-Field-2" placeholder="Enter your email" maxlength="5000" data-name="Email Field 2" class="textarea-3 w-input"></textarea>
            <div class="div-block-4"><a href="index.html" class="button-index w-button">Submit</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<passwordforgot-->



<!--planelistrandom>
  <div class="section-planelistrandom">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Planes</h1>
    </div>
    <div class="w-container">
      <div class="row-planelistrandom w-row">
        <div class="column w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/noun_945767_cc.png" width="124" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#love</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_strawberry.png" width="124" srcset="assets/images/plane_strawberry-p-500.png 500w, assets/images/plane_strawberry.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#study</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_mango.png" width="124" srcset="assets/images/plane_mango-p-500.png 500w, assets/images/plane_mango.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#emotion</div></a></div>
      </div>
      <div class="row-planelistrandom w-row">
        <div class="column-4 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_melon.png" width="124" srcset="assets/images/plane_melon-p-500.png 500w, assets/images/plane_melon.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#exam</div></a></div>
        <div class="column-5 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_blueberry.png" width="124" srcset="assets/images/plane_blueberry-p-500.png 500w, assets/images/plane_blueberry.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#friend</div></a></div>
        <div class="column-6 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_jasmine.png" width="124" srcset="assets/images/plane_jasmine-p-500.png 500w, assets/images/plane_jasmine.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#swpp</div></a></div>
      </div>
    </div>
    <div class="container-plane-button w-container"><a href="#" class="button-planes w-button">Refresh</a><a href="planelistlocation.html" class="button-planes w-button">Near Me</a></div>
  </div>
<planelistrandom-->



<!--planelistlocation>
    <div class="section-14">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-plane-title w-container">
      <h1 class="page-title">Planes</h1>
    </div>
    <div class="container-15 w-container">
      <div class="div-block-planes-radar">
        <div class="w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#love</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_strawberry.png" width="279" srcset="images/plane_strawberry-p-500.png 500w, images/plane_strawberry.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#study</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_mango.png" width="279" srcset="images/plane_mango-p-500.png 500w, images/plane_mango.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#emotion</div></a></div>
        </div>
        <div class="row-6 w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_melon.png" width="279" srcset="images/plane_melon-p-500.png 500w, images/plane_melon.png 700w" sizes="(max-width: 479px) 89px, (max-width: 767px) 19vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#exam</div></a></div>
          <div class="column-9 w-col w-col-4">
            <div class="div-block-29"><a href="#" class="button-5 w-button">1</a><a href="#" class="button-5 w-button">25</a><a href="#" class="button-5 w-button">100</a></div>
            <h4 class="heading-12">km</h4>
          </div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_blueberry.png" width="279" srcset="images/plane_blueberry-p-500.png 500w, images/plane_blueberry.png 700w" sizes="(max-width: 479px) 89px, (max-width: 767px) 19vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#project</div></a></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#swpp</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_jasmine.png" width="279" srcset="images/plane_jasmine-p-500.png 500w, images/plane_jasmine.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#trip</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#grade</div></a></div>
        </div>
      </div>
    </div>
    <div class="container-plane-button w-container"><a href="#" class="button-planes w-button">Refresh</a><a href="planelistrandom.html" class="button-planes w-button">Everywhere</a></div>
  </div>
<planelistlocation-->



<!--write>
  <div class="section-write">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Write</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label for="Write-Content" class="field-label-paper">Content</label><textarea id="Write-Content" name="Write-Content" placeholder="What happened today?" maxlength="5000" data-name="Write Content" class="textarea-paper w-input"></textarea><label for="Write-Tag" class="field-label-paper">#Tags</label><textarea id="Write-Tag" name="Write-Tag" placeholder="#hashtag" maxlength="5000" data-name="Write Tag" class="w-input"></textarea>
          <div class="div-block-paper-button"><a href="planelistrandom.html" class="w-button write-button">Cancel</a><a href="#" class="w-button write-button">Change Sky</a><a href="#" class="w-button write-button">Fold</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<write-->



<!--reply>
  <div class="section-8">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Reply</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <p class="paragraph-reply-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="text-block-reply-hashtag">#swpp</div>
          <div class="div-block-10"></div><textarea id="Reply" name="Reply" placeholder="Write your reply" maxlength="5000" data-name="Reply" class="textarea-paper w-input"></textarea>
          <div class="div-block-paper-button"><a href="#" class="button-reply w-button">Report</a><a href="planelistrandom.html" class="button-reply w-button">Cancel</a><a href="#" class="button-reply w-button">Refold</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<reply-->




<!--inbox>
  <div class="section-11">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-10 w-container">
      <div><img src="assets/images/yogurt_plain.png" width="351" srcset="assets/images/yogurt_plain-p-500.png 500w, assets/images/yogurt_plain.png 700w" sizes="(max-width: 479px) 100vw, 351px"></div>
      <div class="div-block-19">
        <h1 class="heading-inbox-title">Jim&#x27;s Plain Yogurt</h1>
        <h3 class="heading-inbox-planecount">Today&#x27;s Remaining Planes: 1</h3>
        <h3 class="heading-inbox-replycount">Today&#x27;s Remaining Replies: 2</h3><a href="#myreplies" class="link-block-3 w-inline-block"><img src="assets/images/arrow.png" width="33"></a></div>
    </div>
  </div>
  <div id="myreplies" class="section-13">
    <div class="container-11 w-container">
      <h1 class="page-title">My Replies</h1>
    </div>
    <div class="container-12 w-container">
      <div class="row-inbox-replies w-row">
        <div class="column w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/noun_945767_cc.png" width="124" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#love</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_strawberry.png" width="124" srcset="assets/images/plane_strawberry-p-500.png 500w, assets/images/plane_strawberry.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#study</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_mango.png" width="124" srcset="assets/images/plane_mango-p-500.png 500w, assets/images/plane_mango.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#emotion</div></a></div>
      </div>
      <div class="row-inbox-replies w-row">
        <div class="column w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_melon.png" width="124" srcset="assets/images/plane_melon-p-500.png 500w, assets/images/plane_melon.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#exam</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_blueberry.png" width="124" srcset="assets/images/plane_blueberry-p-500.png 500w, assets/images/plane_blueberry.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#friend</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_jasmine.png" width="124" srcset="assets/images/plane_jasmine-p-500.png 500w, assets/images/plane_jasmine.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#swpp</div></a></div>
      </div>
      <div class="div-block-20"><a href="#" class="button-inbox-previous w-button">&lt;</a><a href="#" class="button-inbox-previous w-button">&gt;</a></div>
    </div>
  </div>
<inbox-->



<!--replydetail>
  <div class="section-12">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Replied Plane</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="text-block-3">#swpp</div>
          <div class="div-block-18"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="div-block-paper-button"><a href="#" class="button-replydetail w-button">Report</a><a href="inbox.html" class="button-replydetail w-button">Cancel</a><a href="#" class="button-replydetail w-button">Like it</a><a href="#" class="button-replydetail w-button">Not so much</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<replydetail-->
