<router-outlet></router-outlet>

<!--passwordforgot>
  <div class="section-15">
    <div class="w-container">
      <div>
        <h1 class="heading-7">Lost your plane?</h1>
        <div class="form-block-2 w-form">
          <form id="email-form" name="email-form" data-name="Email Form"><label for="PasswordReset-Email" class="label-index-sign-in">Email</label><textarea id="Email-Field" name="Email-Field" placeholder="Enter your email" maxlength="5000" data-name="Email Field" class="textarea-3 w-input"></textarea>
            <div class="div-block-4"><a href="index.html" class="button-index w-button">Submit</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<passwordforgot-->



<!--planelistrandom>
  <div class="section-planelistrandom">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Planes</h1>
    </div>
    <div class="w-container">
      <div class="row-planelistrandom w-row">
        <div class="column w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/noun_945767_cc.png" width="124" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#love</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_strawberry.png" width="124" srcset="assets/images/plane_strawberry-p-500.png 500w, assets/images/plane_strawberry.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#study</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_mango.png" width="124" srcset="assets/images/plane_mango-p-500.png 500w, assets/images/plane_mango.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#emotion</div></a></div>
      </div>
      <div class="row-planelistrandom w-row">
        <div class="column-4 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_melon.png" width="124" srcset="assets/images/plane_melon-p-500.png 500w, assets/images/plane_melon.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#exam</div></a></div>
        <div class="column-5 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_blueberry.png" width="124" srcset="assets/images/plane_blueberry-p-500.png 500w, assets/images/plane_blueberry.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#friend</div></a></div>
        <div class="column-6 w-col w-col-4"><a href="reply.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_jasmine.png" width="124" srcset="assets/images/plane_jasmine-p-500.png 500w, assets/images/plane_jasmine.png 700w" sizes="124px"><div class="div-block-7"></div><div class="text-block-planelistrandom">#swpp</div></a></div>
      </div>
    </div>
    <div class="container-plane-button w-container"><a href="#" class="button-planes w-button">Refresh</a><a href="planelistlocation.html" class="button-planes w-button">Near Me</a></div>
  </div>
<planelistrandom-->



<!--planelistlocation>
  <div class="section-14">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-plane-title w-container">
      <h1 class="page-title">Planes</h1>
    </div>
    <div class="container-15 w-container">
      <div class="div-block-planes-radar">
        <div class="w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/noun_945767_cc.png" width="279" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#love</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/plane_strawberry.png" width="279" srcset="assets/images/plane_strawberry-p-500.png 500w, assets/images/plane_strawberry.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#study</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/plane_mango.png" width="279" srcset="assets/images/plane_mango-p-500.png 500w, assets/images/plane_mango.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#emotion</div></a></div>
        </div>
        <div class="row-6 w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/plane_melon.png" width="279" srcset="assets/images/plane_melon-p-500.png 500w, assets/images/plane_melon.png 700w" sizes="(max-width: 767px) 81.296875px, 92.640625px"><div class="div-block-25"></div><div class="text-block-6">#exam</div></a></div>
          <div class="column-7 w-col w-col-4">
            <div data-delay="0" class="dropdown w-dropdown">
              <div class="dropdown-toggle-2 w-dropdown-toggle">
                <div class="icon-2 w-icon-dropdown-toggle"></div>
                <div class="text-block-8">1km</div>
              </div>
              <nav class="dropdown-list w-dropdown-list"><a href="#" class="dropdown-link-planelistlocation w-dropdown-link">1km</a><a href="#" class="dropdown-link-planelistlocation w-dropdown-link">25km</a><a href="#" class="dropdown-link-planelistlocation w-dropdown-link">100km</a></nav>
            </div>
          </div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/plane_blueberry.png" width="279" srcset="assets/images/plane_blueberry-p-500.png 500w, assets/images/plane_blueberry.png 700w" sizes="(max-width: 767px) 81.296875px, 92.640625px"><div class="div-block-25"></div><div class="text-block-6">#project</div></a></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/noun_945767_cc.png" width="279" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#swpp</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/plane_jasmine.png" width="279" srcset="assets/images/plane_jasmine-p-500.png 500w, assets/images/plane_jasmine.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#trip</div></a></div>
          <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="assets/images/noun_945767_cc.png" width="279" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="(max-width: 767px) 279px, 93.328125px"><div class="div-block-25"></div><div class="text-block-6">#grade</div></a></div>
        </div>
      </div>
    </div>
    <div class="container-plane-button w-container"><a href="#" class="button-planes w-button">Refresh</a><a href="planelistrandom.html" class="button-planes w-button">Everywhere</a></div>
  </div>
<planelistlocation-->



<!--write>
  <div class="section-write">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Write</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label for="Write-Content" class="field-label-paper">Content</label><textarea id="Write-Content" name="Write-Content" placeholder="What happened today?" maxlength="5000" data-name="Write Content" class="textarea-paper w-input"></textarea><label for="Write-Tag" class="field-label-paper">#Tags</label><textarea id="Write-Tag" name="Write-Tag" placeholder="#hashtag" maxlength="5000" data-name="Write Tag" class="w-input"></textarea>
          <div class="div-block-paper-button"><a href="planelistrandom.html" class="w-button write-button">Cancel</a><a href="#" class="w-button write-button">Change Sky</a><a href="#" class="w-button write-button">Fold</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<write-->



<!--reply>
  <div class="section-8">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Reply</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <p class="paragraph-reply-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="text-block-reply-hashtag">#swpp</div>
          <div class="div-block-10"></div><textarea id="Reply" name="Reply" placeholder="Write your reply" maxlength="5000" data-name="Reply" class="textarea-paper w-input"></textarea>
          <div class="div-block-paper-button"><a href="#" class="button-reply w-button">Report</a><a href="planelistrandom.html" class="button-reply w-button">Cancel</a><a href="#" class="button-reply w-button">Refold</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<reply-->



<!--gallery>
  <div class="section-9">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="combo container-page-title w-container">
      <h1 class="page-title">Gallery</h1>
    </div>
    <div class="container-7 w-container">
      <div class="div-block-12"><a href="#" class="button-gallery-colorred w-button"></a><a href="#" class="button-gallery-colororange w-button"></a><a href="#" class="button-gallery-coloryellow w-button"></a><a href="#" class="button-gallery-colorgreen w-button"></a><a href="#" class="button-gallery-colorblue w-button"></a><a href="#" class="button-gallery-colorviolet w-button"></a><a href="#" class="button-2 w-button">Refresh</a></div>
    </div>
    <div class="w-container">
      <div class="combo row-gallery w-row">
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/8.jpg" srcset="assets/images/8-p-500.jpeg 500w, assets/images/8-p-800.jpeg 800w, assets/images/8-p-1600.jpeg 1600w, assets/images/8.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/3.jpg" srcset="assets/images/3-p-500.jpeg 500w, assets/images/3-p-800.jpeg 800w, assets/images/3.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/5.jpg" srcset="assets/images/5-p-1600.jpeg 1600w, assets/images/5.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
      </div>
      <div class="combo row-gallery w-row">
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/7.jpg" srcset="assets/images/7-p-500.jpeg 500w, assets/images/7-p-1600.jpeg 1600w, assets/images/7.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/1.jpg" srcset="assets/images/1-p-500.jpeg 500w, assets/images/1-p-800.jpeg 800w, assets/images/1-p-1600.jpeg 1600w, assets/images/1.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/6.jpg" srcset="assets/images/6-p-1600.jpeg 1600w, assets/images/6.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
      </div>
      <div class="row-gallery w-row">
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/6.jpg" srcset="assets/images/6-p-1600.jpeg 1600w, assets/images/6.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/9.jpg" srcset="assets/images/9-p-500.jpeg 500w, assets/images/9-p-800.jpeg 800w, assets/images/9-p-1080.jpeg 1080w, assets/images/9-p-1600.jpeg 1600w, assets/images/9-p-2000.jpeg 2000w, assets/images/9.jpg 2448w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
        <div class="column-gallery w-col w-col-4"><a href="#" class="w-inline-block"><img src="assets/images/4.jpg" srcset="assets/images/4-p-1600.jpeg 1600w, assets/images/4.jpg 1920w" sizes="(max-width: 479px) 23vw, (max-width: 767px) 25vw, (max-width: 991px) 198.671875px, 269.328125px"></a><a href="#" class="link-block-gallery-report w-inline-block"><img src="assets/images/report.png" width="20"></a></div>
      </div>
    </div>
    <div class="container-8 w-container"><a href="photopost.html" class="button-gallery w-button">Post New Photo</a></div>
  </div>
<gallery-->



<!--photodetail>
  <div class="section-16">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Gallery</h1>
    </div>
    <div class="container-paper w-container">
      <div class="div-block-26"><img src="assets/images/1.jpg" srcset="assets/images/1-p-500.jpeg 500w, assets/images/1-p-800.jpeg 800w, assets/images/1-p-1600.jpeg 1600w, assets/images/1.jpg 1920w" sizes="(max-width: 767px) 92vw, (max-width: 991px) 688px, 900px" class="image-15"></div>
      <div class="div-block-28">
        <div class="text-block-9">#swpp</div>
      </div>
      <div class="div-block-27"><a href="#" class="button-photopost w-button">Report</a><a href="#" class="button-photopost w-button">Cancel</a></div>
    </div>
  </div>
<photodetail-->



<!--photopost>
  <div class="section-10">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Photo Post</h1>
    </div>
    <div class="container-paper w-container">
      <div class="div-block-14"><img src="assets/images/8.jpg" srcset="assets/images/8-p-500.jpeg 500w, assets/images/8-p-800.jpeg 800w, assets/images/8-p-1600.jpeg 1600w, assets/images/8.jpg 1920w" sizes="(max-width: 767px) 90vw, (max-width: 991px) 678px, 890px" class="image-8"></div>
      <div class="div-block-15"></div>
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><textarea id="PhotoPost-Tag" name="PhotoPost-Tag" placeholder="#hashtag" maxlength="5000" data-name="PhotoPost Tag" class="textarea-2 w-input"></textarea>
          <div class="div-block-16"><a href="gallery.html" class="button-photopost w-button">Cancel</a><a href="#" class="button-photopost w-button">Upload</a><a href="#" class="button-photopost w-button">Post</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<photopost-->



<!--inbox>
  <div class="section-11">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-10 w-container">
      <div><img src="assets/images/yogurt_plain.png" width="351" srcset="assets/images/yogurt_plain-p-500.png 500w, assets/images/yogurt_plain.png 700w" sizes="(max-width: 479px) 100vw, 351px"></div>
      <div class="div-block-19">
        <h1 class="heading-inbox-title">Jim&#x27;s Plain Yogurt</h1>
        <h3 class="heading-inbox-planecount">Today&#x27;s Remaining Planes: 1</h3>
        <h3 class="heading-inbox-replycount">Today&#x27;s Remaining Replies: 2</h3><a href="#myreplies" class="link-block-3 w-inline-block"><img src="assets/images/arrow.png" width="33"></a></div>
    </div>
  </div>
  <div id="myreplies" class="section-13">
    <div class="container-11 w-container">
      <h1 class="page-title">My Replies</h1>
    </div>
    <div class="container-12 w-container">
      <div class="row-inbox-replies w-row">
        <div class="column w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/noun_945767_cc.png" width="124" srcset="assets/images/noun_945767_cc-p-500.png 500w, assets/images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#love</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_strawberry.png" width="124" srcset="assets/images/plane_strawberry-p-500.png 500w, assets/images/plane_strawberry.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#study</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_mango.png" width="124" srcset="assets/images/plane_mango-p-500.png 500w, assets/images/plane_mango.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#emotion</div></a></div>
      </div>
      <div class="row-inbox-replies w-row">
        <div class="column w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_melon.png" width="124" srcset="assets/images/plane_melon-p-500.png 500w, assets/images/plane_melon.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#exam</div></a></div>
        <div class="column-2 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_blueberry.png" width="124" srcset="assets/images/plane_blueberry-p-500.png 500w, assets/images/plane_blueberry.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#friend</div></a></div>
        <div class="column-3 w-col w-col-4"><a href="replydetail.html" class="link-block-plane w-inline-block"><img src="assets/images/plane_jasmine.png" width="124" srcset="assets/images/plane_jasmine-p-500.png 500w, assets/images/plane_jasmine.png 700w" sizes="(max-width: 479px) 60vw, 124px"><div class="div-block-7"></div><div class="text-block-inbox-replies">#swpp</div></a></div>
      </div>
      <div class="div-block-20"><a href="#" class="button-inbox-previous w-button">&lt;</a><a href="#" class="button-inbox-previous w-button">&gt;</a></div>
    </div>
  </div>
<inbox-->



<!--replydetail>
  <div class="section-12">
    <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
      <div class="container-20 w-container">
        <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Planes</a><a href="#" class="nav-link w-nav-link">Write</a><a href="#" class="nav-link w-nav-link">Gallery</a><a href="#" class="nav-link w-nav-link">My Page</a><a href="#" class="nav-link w-nav-link">Sign Out</a></nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="container-page-title w-container">
      <h1 class="page-title">Replied Plane</h1>
    </div>
    <div class="container-paper w-container">
      <div class="form-block-paper w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="text-block-3">#swpp</div>
          <div class="div-block-18"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <div class="div-block-paper-button"><a href="#" class="button-replydetail w-button">Report</a><a href="inbox.html" class="button-replydetail w-button">Cancel</a><a href="#" class="button-replydetail w-button">Like it</a><a href="#" class="button-replydetail w-button">Not so much</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
<replydetail-->
