<div>
  <form>
    Username: <input [(ngModel)]="username" name="username" placeholder="username"><br/>
    Password: <input [(ngModel)]="password" name="password" placeholder="password"><br/>
    <re-captcha #captchaRef="reCaptcha"
                [(ngModel)]="captcha_key"
                size="invisible"
                (resolved)="$event && onSignIn()"
                name="recaptcha"
                siteKey="6LdqTDcUAAAAAMrLPuUOsWhWlozOF3V8v6ntahx8"></re-captcha>
    <button (click)="captchaRef.execute()">Sign In</button>
  </form>
  <button routerLink="/sign_up">Sign Up</button>
</div>
