<div class="section-15">
  <div class="w-container">
    <div>
      <h1 class="heading-7">Change Password</h1>
      <div class="form-block-2 w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label for="Current-Password-Field" class="label-index-sign-in">Current Password</label>
          <input type="password" [(ngModel)]="current_password" id="Current-Password-Field" name="Current-Password-Field" placeholder="Current Password" maxlength="5000" data-name="Nickname Field" class="textarea-3 w-input">
          <label for="New-Password-Field" class="label-index-sign-in">New Password</label>
          <input type="password" [(ngModel)]="new_password" id="New-Password-Field" name="New-Password-Field" placeholder="New Password" maxlength="5000" data-name="Nickname Field" class="textarea-3 w-input">
          <label for="New-Password-Repeat-Field" class="label-index-sign-in">New Password Again</label>
          <input type="password" [(ngModel)]="new_password_repeat" id="New-Password-Repeat-Field" name="New-Password-Repeat-Field" placeholder="New Password Again" maxlength="5000" data-name="Nickname Field" class="textarea-3 w-input">
          <div class="div-block-4"><a (click)="onClickSubmitButton()" class="button-index w-button">Submit</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
