<div class="section-14">
  <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="container-20 w-container">
      <app-navigation-bar></app-navigation-bar>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="container-plane-title w-container">
    <h1 class="page-title">Planes</h1>
  </div>
  <div class="container-15 w-container">
    <div class="div-block-planes-radar">
      <div class="w-row">
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#love</div></a></div>
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_strawberry.png" width="279" srcset="images/plane_strawberry-p-500.png 500w, images/plane_strawberry.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#study</div></a></div>
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_mango.png" width="279" srcset="images/plane_mango-p-500.png 500w, images/plane_mango.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#emotion</div></a></div>
      </div>
      <div class="row-6 w-row">
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_melon.png" width="279" srcset="images/plane_melon-p-500.png 500w, images/plane_melon.png 700w" sizes="(max-width: 479px) 89px, (max-width: 767px) 19vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#exam</div></a></div>
        <div class="column-9 w-col w-col-4">
          <div class="div-block-29"><a href="#" class="button-5 w-button">1</a><a href="#" class="button-5 w-button">25</a><a href="#" class="button-5 w-button">100</a></div>
          <h4 class="heading-12">km</h4>
        </div>
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_blueberry.png" width="279" srcset="images/plane_blueberry-p-500.png 500w, images/plane_blueberry.png 700w" sizes="(max-width: 479px) 89px, (max-width: 767px) 19vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#project</div></a></div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#swpp</div></a></div>
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/plane_jasmine.png" width="279" srcset="images/plane_jasmine-p-500.png 500w, images/plane_jasmine.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#trip</div></a></div>
        <div class="w-col w-col-4"><a href="reply.html" class="link-block-planeradar w-inline-block"><img src="images/noun_945767_cc.png" width="279" srcset="images/noun_945767_cc-p-500.png 500w, images/noun_945767_cc.png 700w" sizes="(max-width: 479px) 279px, (max-width: 767px) 58vw, 93.32292175292969px"><div class="div-block-25"></div><div class="text-block-6">#grade</div></a></div>
      </div>
    </div>
  </div>
  <div class="container-plane-button w-container"><a href="#" class="button-planes w-button">Refresh</a><a href="planelistrandom.html" class="button-planes w-button">Everywhere</a></div>
</div>
