h1 {
  text-align: center;
  margin: auto;
  font-size: 8em;
}
h2 {
  text-align: center;
}

.catchphrase {

  padding: 10em;
}


.plane_image {
  /* The image used */
  background-image: url("../../assets/image/planes.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20em;
}

.attribution {
  text-align: center;
  font-size: 0.8em;
}
