h1 {
  text-align: center;
  margin: auto;
  font-size: 8em;
}

h2 {
  text-align: center;
}

img.about_us {
  display: block;
  width: 100%;
  height: auto;
}

.catchphrase {
  padding: 10em;
}

.plane_image {
  /* The image used */
  background-image: url("../../assets/image/planes.jpg");

  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20em;
}

.about_us_1 {
  /* The image used */
  background-image: url("../../assets/image/about_us_1.png");

  /* Full height */
  width: 100%;
  height: 100%;
  background-size: cover;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20em;
}

.about_us_2 {
  /* The image used */
  background-image: url("../../assets/image/about_us_2.png");

  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20em;
}

.about_us_3 {
  /* The image used */
  background-image: url("../../assets/image/about_us_3.png");

  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20em;
}

.attribution {
  text-align: center;
  font-size: 0.8em;
}
