<div class="catchphrase">
  <h1>PLAIN PLANE</h1><br>
  <h2>
    People plain about their feelings and thoughts on a plain paper,<br>
    fold up a paper plane with it, fuel up with plain yogurt, and fly it to the sky.
  </h2>
</div>

<div class="plane_image">

</div>

<div class="feature">
  <h2>
    Upgrade Your Yogurt Flavor!<br><br>
    <img src="../../assets/image/plain-yogurt.svg" alt="Plain yogurt" style="width:3em;">
    <img src="../../assets/image/strawberry-yogurt.svg" alt="Strawberry yogurt" style="width:3em;">
    <img src="../../assets/image/blueberry-yogurt.svg" alt="Blueberry yogurt" style="width:3em;">
  </h2>
</div>
<br>

<div class="attribution">
  Yogurt Icon made by Freepik from www.flaticon.com
  <br/>
  <a href='https://www.freepik.com/free-photo/vintage-color-beauty-sunny-abstract_1043655.htm'>Designed by Freepik</a>
  <br/>
  <br/>
</div>
