<div class="section-write">
  <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="container-20 w-container">
      <app-navigation-bar></app-navigation-bar>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="container-page-title w-container">
    <h1 class="page-title">Write</h1>
  </div>
  <div class="container-paper w-container">
    <div class="form-block-paper w-form">
      <form id="email-form" name="email-form" data-name="Email Form"><label for="Write-Content" class="field-label-paper">Content</label><textarea id="Write-Content" name="Write-Content" placeholder="What happened today?" maxlength="5000" data-name="Write Content" class="textarea-paper w-input"></textarea><label for="Write-Tag" class="field-label-paper">#Tags</label><textarea id="Write-Tag" name="Write-Tag" placeholder="#hashtag" maxlength="5000" data-name="Write Tag" class="w-input"></textarea>
        <div class="div-block-paper-button"><a href="planelistrandom.html" class="w-button write-button">Cancel</a><a href="#" class="w-button write-button">Change Sky</a><a href="#" class="w-button write-button">Fold</a></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
