<div class="section-15">
  <div class="w-container">
    <div>
      <h1 class="heading-7">Lost your plane?</h1>
      <div class="form-block-2 w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label for="Nickname-Field" class="label-index-sign-in">Nickname</label>
          <textarea [(ngModel)]="username" id="Nickname-Field" name="Nickname-Field" placeholder="Enter your nickname" maxlength="5000" data-name="Nickname Field" class="textarea-3 w-input"></textarea>
          <label for="PasswordReset-Email" class="label-index-sign-in">Email</label>
          <textarea [(ngModel)]="email" id="Email-Field-2" name="Email-Field-2" placeholder="Enter your email" maxlength="5000" data-name="Email Field 2" class="textarea-3 w-input"></textarea>
          <div class="div-block-recaptcha">
            <re-captcha [(ngModel)]="captcha_key" name="recaptcha" siteKey="6LfhcjsUAAAAAFdW5w0LPgPCDuydEribYQrVUnkQ"></re-captcha>
          </div>
          <div class="div-block-4"><a (click)="onClickSubmitButton()" class="button-index w-button">Submit</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
