<div class="section-12">
  <div data-collapse="none" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="container-20 w-container">
      <app-navigation-bar></app-navigation-bar>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="container-page-title w-container">
    <h1 class="page-title">Replied Plane</h1>
  </div>
  <div class="container-paper w-container">
    <div class="form-block-paper w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <p>{{reply.original_content}}</p>
        <div class="text-block-3">#{{reply.original_tag}}</div>
        <div class="div-block-18"></div>
        <p>{{reply.content}}</p>
        <div class="div-block-paper-button">
          <a (click)="onClickReportButton()" class="button-replydetail w-button">Report</a>
          <a (click)="onClickCancelButton()" class="button-replydetail w-button">Cancel</a>
          <a (click)="onClickLikeButton()" class="button-replydetail w-button">Like it</a>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
